# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# macOS
.DS_Store

# Data (keep folders, not files)
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/external/*

# Logs
*.log

# VSCode
.vscode/
